<app-toolbar [charactersCount]="characters?.info?.count" (pageChanged)="onPageChange($event)"></app-toolbar>
<div class="container">
    @for (character of characters?.results; track $index) {
        <app-card
            [id]="character.id"
            [name]="character.name"
            [image]="character.image"
            (cardClicked)="onCardClicked($event)"
        ></app-card>
    }
</div>
@if (isLoading) {
    <div class="loader-wrapper">
        <mat-spinner></mat-spinner>
    </div>
}
