mat-dialog-content {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    img {
        width: 300px;
        border-radius: 12px;
        align-self: center;
        padding: 4px;
        border: 1px solid;
    }
}